.info-container {
    height: 400px;
    overflow: hidden;
    margin-top: 80px;
}

.info-img {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
}

.info {
    height: 200px;
    width: 700px;
    position: absolute;
    top: 200px;
    left: calc(50vw - 350px);
    margin: 0 auto;
    font-size: 18px;
    color: white;
    background-color: #6b068adb;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 13px 34px 5px rgba(85, 85, 85, 0.5);
}

.info h2 {
    font-size: 35px;
}